/* line 3, main.sass */
.widgetSec {
  position: fixed;
  top: 25%;
  float: right;
  z-index: 1;
  transition: 0.5s all ease !important;
}
/* line 9, main.sass */
.widgetSec .closeThis {
  position: relative;
  margin-left: -13px;
  float: right;
  height: 13px;
  width: 13px;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), #000000 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%), linear-gradient(to top right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 0.8px), #000000 50%, rgba(0, 0, 0, 0) calc(50% + 0.8px), rgba(0, 0, 0, 0) 100%);
  background-color: #0078AA;
}
/* line 17, main.sass */
.widgetSec .closeThis p {
  color: white;
  bottom: 25%;
  position: relative;
}
/* line 22, main.sass */
.widgetSec .closeThis:hover {
  background-color: #009EAA;
  box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #009EAA;
}
/* line 25, main.sass */
.widgetSec .closeThis:active {
  box-shadow: inset 0 0 1.094em #472566, inset 0 0.063em #390668, inset 0 -0.188em #682CA0, 0 0.063em rgba(255, 255, 255, 0.4);
}

/* line 28, main.sass */
.body {
  padding-top: 0px;
}

/* line 32, main.sass */
a:visited, a:focus {
  outline: 0;
}

/* line 35, main.sass */
.tempDiv {
  height: 2000px;
}

/* line 37, main.sass */
#tmp {
  margin-left: 40%;
  width: 20%;
}

/* line 41, main.sass */
.navbarEffect {
  background-color: #0078AA !important;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF0078AA', endColorstr='#FF009EAA');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzhhYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWVhYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==') !important;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0078aa), color-stop(100%, #009eaa)) !important;
  background-image: -moz-linear-gradient(left, #0078aa 0%, #009eaa 100%) !important;
  background-image: -webkit-linear-gradient(left, #0078aa 0%, #009eaa 100%) !important;
  background-image: linear-gradient(to right, #0078aa 0%, #009eaa 100%) !important;
  padding-top: 10px !important;
  transition: 0.5s all ease !important;
}

/* line 48, main.sass */
.navbar-nav {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 51, main.sass */
.navbar-default {
  box-shadow: none;
  position: relative;
  border: none;
  outline: 1px solid white;
  outline-offset: 5px;
  border-radius: 0px;
  height: 150px;
  margin-bottom: 0px;
  background-image: none;
  background-color: rgba(255, 255, 255, 0);
}
/* line 63, main.sass */
.navbar-default .navbar-toggle {
  margin-top: 5%;
  margin-right: 10%;
  z-index: 1;
}
/* line 67, main.sass */
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  margin-top: 5px;
  height: 4px;
  width: 25px;
}
/* line 73, main.sass */
.navbar-default button {
  border: none;
}
/* line 76, main.sass */
.navbar-default .flags {
  margin-top: 7%;
}
/* line 78, main.sass */
.navbar-default .flags a {
  margin-left: 1px;
}
/* line 81, main.sass */
.navbar-default .flags a .flagImg {
  margin-bottom: 10px;
  width: 30px;
  height: 20px;
}
/* line 87, main.sass */
.navbar-default .navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -115px;
  display: block;
  height: 150px;
  padding-bottom: 10px;
}
/* line 95, main.sass */
.navbar-default .navbar-brand img {
  height: 100%;
  width: auto;
}
/* line 99, main.sass */
.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
  background: white;
  margin-top: 50px;
  height: auto !important;
}

/* line 106, main.sass */
.main {
  position: relative;
  z-index: 10;
  background: #eb01a5, linear-gradient(to right, #0078aa, #009eaa);
  background-image: url("../img/backIco.png");
  background-image: url("../img/backIco.png"), linear-gradient(to right, #0078aa, #009eaa);
  background-image: url("../img/backIco.png"), -moz-linear-gradient(left, #0078AA, #009EAA);
  background-image: url("../img/backIco.png"), -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(100%, #0078AA), color-stop(0%, #009EAA));
  background-image: url("../img/backIco.png"), -webkit-gradient(left, #0078AA, #009EAA);
  background-image: url("../img/backIco.png"), -o-linear-gradient(left, #0078AA, #009EAA);
  background-size: 250px auto, 100% 100%;
  background-position: bottom -35px left -35px, center center;
  background-repeat: no-repeat;
}

/* line 122, main.sass */
.mainText {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  min-height: 250px;
  text-align: center;
}
/* line 128, main.sass */
.mainText h1 {
  font-size: 2.5em;
  color: white;
  font-weight: bold;
  font-family: Netto Offc, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 133, main.sass */
.mainText h1 span {
  color: #F7AC1E;
}
/* line 135, main.sass */
.mainText p {
  color: white;
  font-size: 1em;
}

/* line 139, main.sass */
.sec .textSec {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
/* line 144, main.sass */
.sec .textSec h2 {
  font-size: 1.8em;
  font-family: Netto Offc, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #0078AA;
}
/* line 149, main.sass */
.sec .textSec h2 span {
  color: #F7AC1E;
}
/* line 151, main.sass */
.sec .textSec p {
  text-align: center;
  line-height: 200%;
  color: #7f7f7f;
}
/* line 155, main.sass */
.sec .textSec a {
  color: #F7AC1E;
}
/* line 158, main.sass */
.sec .imgSec {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  position: relative;
}
/* line 163, main.sass */
.sec .imgSec #ribbon {
  position: absolute;
  max-width: 20%;
  height: auto;
  left: 40%;
}
/* line 176, main.sass */
.sec .imgSec #veins {
  margin-top: -80px;
}
/* line 178, main.sass */
.sec .imgSec #shield {
  margin-top: -80px;
}
/* line 180, main.sass */
.sec .imgSec #logoIgem {
  float: left;
  max-width: 50%;
  height: auto;
}
/* line 186, main.sass */
.sec .imgSec #logoDracBlue {
  float: right;
  position: absolute;
  max-width: 50%;
  margin-top: -30px;
  display: inline-block;
}
/* line 194, main.sass */
.sec .imgSec #DanaGenLogo {
  margin-top: 40px;
  max-width: 50%;
}
/* line 201, main.sass */
.sec .imgSec #decorpsLogo {
  float: right;
  max-width: 40%;
}
/* line 206, main.sass */
.sec .noOverflow {
  overflow: hidden;
}
/* line 208, main.sass */
.sec #omsMeat {
  position: absolute;
}

/* line 211, main.sass */
.spacedTop {
  padding-top: 50%;
}

/* line 213, main.sass */
.spacedBottom {
  padding-bottom: 10%;
}

/* line 216, main.sass */
img.food {
  position: inline-block;
  max-width: 50%;
  height: auto;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.4s ease-in-out;
}
/* line 223, main.sass */
img.food.is-showing {
  opacity: 1;
  transform: translateX(0px);
}

/* line 227, main.sass */
#secTeam #faces {
  margin-left: 5%;
  margin-right: 5%;
}
/* line 230, main.sass */
#secTeam #faces .face {
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 0px;
  overflow: hidden;
}
/* line 236, main.sass */
#secTeam #faces .face img {
  max-width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
/* line 240, main.sass */
#secTeam #faces .face figcaption {
  position: absolute;
  top: 80%;
  background: black;
  color: white;
  padding: 2px 8px;
  font-size: 6px;
  pointer-events: none;
}
/* line 248, main.sass */
#secTeam #faces .face figcaption .box {
  background-color: #F7AC1E;
  width: 6px;
  height: 12px;
  float: left;
  padding: 0px;
  margin: -5px 0px 0px -10px;
}

/* line 257, main.sass */
.sponsors img {
  max-width: 50%;
  display: inline-block;
  margin-right: 20px;
}

/* line 263, main.sass */
.footer {
  background: #eb01a5, linear-gradient(to right, #0078aa, #009eaa);
  background-image: url("../img/backIcoR.png");
  background-image: url("../img/backIcoR.png"), linear-gradient(to right, #0078aa, #009eaa);
  background-image: url("../img/backIcoR.png"), -moz-linear-gradient(left, #0078AA, #009EAA);
  background-image: url("../img/backIcoR.png"), -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(100%, #0078AA), color-stop(0%, #009EAA));
  background-image: url("../img/backIcoR.png"), -webkit-gradient(left, #0078AA, #009EAA);
  background-image: url("../img/backIcoR.png"), -o-linear-gradient(left, #0078AA, #009EAA);
  background-size: 250px auto, 100% 100%;
  background-position: bottom -35px right -35px, center center;
  background-repeat: no-repeat;
  min-height: 50px;
}
/* line 276, main.sass */
.footer .textFooter {
  position: relative;
}
/* line 278, main.sass */
.footer .textFooter p {
  color: white;
  font-size: 1em;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 25px;
  text-align: center;
}

@media all and (orientation: landscape) {
  /* line 290, main.sass */
  .main {
    min-height: 0px;
  }

  /* line 292, main.sass */
  .mainText {
    min-height: 150px;
  }
}
@media screen and (min-width: 768px) {
  /* line 298, main.sass */
  .navbar-default {
    background-color: transparent;
    height: 100px;
    border-bottom: none;
    outline: none;
    padding-top: 50px;
    margin-right: 20px;
    box-shadow: none;
  }
  /* line 306, main.sass */
  .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 1em;
  }
  /* line 309, main.sass */
  .navbar-default .navbar-nav > li > a.first {
    color: white;
    border-top-left-radius: 20px;
  }
  /* line 312, main.sass */
  .navbar-default .navbar-nav > li > a:hover {
    box-shadow: none;
    background-color: white;
    color: #777;
  }
  /* line 316, main.sass */
  .navbar-default .navbar-nav > li > a:active {
    background-color: white;
  }
  /* line 318, main.sass */
  .navbar-default .navbar-nav > .active > a {
    background-image: none;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
  }
  /* line 324, main.sass */
  .navbar-default .navbar-nav > .active > a:hover {
    background-color: white;
    color: #777;
  }
  /* line 327, main.sass */
  .navbar-default .navbar-collapse {
    margin-top: 0px;
    padding-top: 50px;
    padding-right: 50px;
    background-color: transparent;
  }
  /* line 333, main.sass */
  .navbar-default .navbar-brand {
    margin-top: -20px;
    left: auto;
    height: 100px;
    margin-left: 0px;
    padding-left: 5%;
  }
  /* line 339, main.sass */
  .navbar-default .navbar-brand img {
    height: 100%;
    width: auto;
    padding-left: 50px;
  }

  /* line 343, main.sass */
  .dropdown-menu {
    width: 100%;
    font-size: 0.5em;
  }
  /* line 346, main.sass */
  .dropdown-menu .divider {
    width: 100%;
  }
  /* line 348, main.sass */
  .dropdown-menu .flags {
    padding-bottom: 10px;
  }

  /* line 350, main.sass */
  .nav {
    width: 60%;
  }
  /* line 352, main.sass */
  .nav li {
    width: 20%;
    text-align: center;
  }

  /* line 355, main.sass */
  .main {
    background-size: 400px auto, 100% 100%;
    background-position: bottom -80px left -35px, center center;
    min-height: 75vh;
  }

  /* line 359, main.sass */
  .mainText {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10%;
  }
  /* line 363, main.sass */
  .mainText p {
    font-size: 1.3em;
  }
  /* line 365, main.sass */
  .mainText h1 {
    font-size: 2em;
    padding-top: 20px;
  }

  /* line 370, main.sass */
  .sec .textSec h2 {
    margin-left: 10%;
    margin-right: 10%;
  }
  /* line 373, main.sass */
  .sec .textSec p {
    margin-left: 15%;
    margin-right: 15%;
  }
  /* line 377, main.sass */
  .sec .imgSec {
    margin-left: 30%;
    margin-right: 25%;
  }
  /* line 380, main.sass */
  .sec .imgSec #ribbon {
    transform: translate(0px, -30px);
    transition: transform 0.5s ease-in;
  }
  /* line 383, main.sass */
  .sec .imgSec #mol1 {
    transform: translate(-90px, 0px);
    transition: transform 1s ease-in-out;
  }
  /* line 386, main.sass */
  .sec .imgSec #mol2 {
    transform: translate(90px, 0px);
    transition: transform 1s ease-in-out;
  }
  /* line 389, main.sass */
  .sec .imgSec #logoIgem {
    transform: translate(-50px, 0px);
    transition: transform 0.5s ease-in;
  }
  /* line 392, main.sass */
  .sec .imgSec #logoDracBlue {
    transform: translate(50px, 0px);
    transition: transform 0.5s ease-in;
  }

  /* line 395, main.sass */
  .spacedTop {
    padding-top: 30%;
  }

  /* line 397, main.sass */
  .spacedBottom {
    padding-bottom: 10%;
  }

  /* line 403, main.sass */
  #secTeam #faces .face img {
    opacity: 0.9;
    transition: opacity 0.35s, transform 0.35s;
  }
  /* line 408, main.sass */
  #secTeam #faces .face img:hover {
    opacity: 0.8;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }
  /* line 414, main.sass */
  #secTeam #faces .face figcaption {
    right: -100%;
    font-size: 11px;
    transition: all 0.3s ease-in-out;
  }
  /* line 418, main.sass */
  #secTeam #faces .face figcaption .box {
    width: 10px;
    height: 16px;
    margin: -7px 0px 0px -12px;
  }
  /* line 423, main.sass */
  #secTeam #faces .face:hover figcaption {
    right: 0%;
  }

  /* line 425, main.sass */
  .footer {
    min-height: 200px;
  }
  /* line 427, main.sass */
  .footer .textFooter {
    position: relative;
  }
  /* line 429, main.sass */
  .footer .textFooter p {
    font-size: 2em;
    padding-top: 50px;
  }
}
@media all and (orientation: portrait) and (min-width: 768px) {
  /* line 436, main.sass */
  .main {
    min-height: 50vh;
  }
}
@media screen and (min-width: 1024px) {
  /* line 443, main.sass */
  .navbar-default {
    margin-right: 70px;
  }
  /* line 445, main.sass */
  .navbar-default .navbar-nav > li > a {
    font-size: 1.2em;
  }
  /* line 447, main.sass */
  .navbar-default .navbar-brand {
    margin-top: -20px;
    left: auto;
    height: 100px;
    margin-left: 0px;
    padding-left: 5%;
  }
  /* line 453, main.sass */
  .navbar-default .navbar-brand img {
    height: 175%;
    width: auto;
    padding-left: 50px;
  }

  /* line 457, main.sass */
  .dropdown-menu {
    font-size: 0.7em;
  }

  /* line 459, main.sass */
  .mainText {
    margin-top: 12%;
    margin-right: 25%;
    margin-left: 25%;
  }
  /* line 463, main.sass */
  .mainText p {
    font-size: 2em;
  }
  /* line 465, main.sass */
  .mainText h1 {
    font-size: 3.5em;
    padding-top: 50px;
  }

  /* line 468, main.sass */
  .main {
    background-size: 700px auto, 100% 100%;
    background-position: bottom -100px left -35px, center center;
    min-height: -webkit-calc(85% - 0px);
    min-height: 85vh;
  }

  /* line 478, main.sass */
  .sec .textSec h2 {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 3em;
  }
  /* line 482, main.sass */
  .sec .textSec p {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.5em;
    margin-top: 50px;
  }
  /* line 487, main.sass */
  .sec .imgSec {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
  }
  /* line 491, main.sass */
  .sec .imgSec #ribbon {
    transform: translate(0px, -80px);
    transition: transform 0.5s ease-in;
  }

  /* line 494, main.sass */
  .spacedTop {
    padding-top: 15%;
  }

  /* line 496, main.sass */
  .spacedBottom {
    padding-bottom: 5%;
  }

  /* line 499, main.sass */
  #secTeam #faces {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media all and (orientation: landscape) and (min-width: 768px) {
  /* line 510, main.sass */
  .sec .textSec p {
    margin-left: 20%;
    margin-right: 20%;
  }

  /* line 514, main.sass */
  #secTeam #faces {
    margin-right: 5%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 521, main.sass */
  .navbar-default .navbar-nav > li > a {
    font-weight: bold;
  }

  /* line 524, main.sass */
  .navbar-default .navbar-nav > li > a {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1600px) {
  /* line 530, main.sass */
  .dropdown-menu {
    font-size: 1em;
  }
}
