/* line 3, main.sass */
.body {
  padding-top: 0px;
}

/* line 6, main.sass */
.tempDiv {
  height: 2000px;
}

/* line 9, main.sass */
.navbar-default {
  box-shadow: none;
  position: relative;
  border: none;
  outline: 1px solid white;
  outline-offset: 5px;
  border-radius: 0px;
  height: 150px;
  margin-bottom: 0px;
  background-image: none;
  background-color: rgba(255, 255, 255, 0);
}
/* line 21, main.sass */
.navbar-default .navbar-toggle {
  margin-top: 5%;
  margin-right: 10%;
  z-index: 1;
}
/* line 25, main.sass */
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  margin-top: 5px;
  height: 4px;
  width: 25px;
}
/* line 31, main.sass */
.navbar-default button {
  border: none;
}
/* line 34, main.sass */
.navbar-default .navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -115px;
  display: block;
  height: 150px;
  padding-bottom: 10px;
}
/* line 42, main.sass */
.navbar-default .navbar-brand img {
  height: 100%;
  width: auto;
}
/* line 46, main.sass */
.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
  background: white;
  margin-top: 50px;
  height: auto !important;
}

/* line 53, main.sass */
.main {
  background: #eb01a5, linear-gradient(to right, #0078aa, #009eaa);
  background-image: url("../img/backIco.png");
  background-image: url("../img/backIco.png"), linear-gradient(to right, #0078aa, #009eaa);
  background-image: url("../img/backIco.png"), -moz-linear-gradient(left, #0078AA, #009EAA);
  background-image: url("../img/backIco.png"), -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(100%, #0078AA), color-stop(0%, #009EAA));
  background-image: url("../img/backIco.png"), -webkit-gradient(left, #0078AA, #009EAA);
  background-image: url("../img/backIco.png"), -o-linear-gradient(left, #0078AA, #009EAA);
  background-size: 250px auto, 100% 100%;
  background-position: bottom -35px left -35px, center center;
  background-repeat: no-repeat;
}

/* line 67, main.sass */
.mainText {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  min-height: 250px;
  text-align: center;
}
/* line 73, main.sass */
.mainText h1 {
  font-size: 2.5em;
  color: white;
  font-family: Netto Offc;
}
/* line 77, main.sass */
.mainText h1 span {
  color: #7AC943;
}
/* line 79, main.sass */
.mainText p {
  color: white;
  font-size: 1em;
}

/* line 84, main.sass */
#sec1 .textSec, #sec2 .textSec {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
/* line 89, main.sass */
#sec1 .textSec h2, #sec2 .textSec h2 {
  font-size: 1.8em;
  font-family: Netto Offc;
  font-weight: bold;
  color: #0078AA;
}
/* line 94, main.sass */
#sec1 .textSec h2 span, #sec2 .textSec h2 span {
  color: #7AC943;
}
/* line 96, main.sass */
#sec1 .textSec p, #sec2 .textSec p {
  text-align: center;
  line-height: 200%;
  color: #7f7f7f;
}
/* line 101, main.sass */
#sec1 .imgSec, #sec2 .imgSec {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  position: relative;
}
/* line 106, main.sass */
#sec1 .imgSec #ribbon, #sec2 .imgSec #ribbon {
  position: absolute;
  max-width: 30%;
  height: auto;
  left: 38%;
  transform: translate(0px, -30px);
  transition: transform 0.5s ease-in;
}
/* line 115, main.sass */
#sec1 #omsMeat, #sec2 #omsMeat {
  position: absolute;
}

/* line 118, main.sass */
.spaced {
  padding-top: 50%;
}

/* line 121, main.sass */
img.food {
  position: inline-block;
  max-width: 50%;
  height: auto;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.4s ease-in-out;
}
/* line 128, main.sass */
img.food.is-showing {
  opacity: 1;
  transform: translateX(0px);
}

@media screen and (min-width: 768px) {
  /* line 133, main.sass */
  .navbar-default {
    background-color: transparent;
    height: 100px;
    border-bottom: none;
    outline: none;
    padding-top: 50px;
    margin-right: 20px;
  }
  /* line 140, main.sass */
  .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 1em;
  }
  /* line 143, main.sass */
  .navbar-default .navbar-nav > li > a.first {
    border-top-left-radius: 20px;
  }
  /* line 145, main.sass */
  .navbar-default .navbar-nav > li > a:hover {
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.5);
  }
  /* line 147, main.sass */
  .navbar-default .navbar-nav > li > a:active {
    background-color: white;
  }
  /* line 150, main.sass */
  .navbar-default .navbar-nav > .active > a {
    background-image: none;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.5);
  }
  /* line 154, main.sass */
  .navbar-default .navbar-nav > .active > a:hover {
    background-color: white;
  }
  /* line 156, main.sass */
  .navbar-default .navbar-collapse {
    margin-top: 0px;
    background-color: transparent;
  }
  /* line 160, main.sass */
  .navbar-default .navbar-brand {
    margin-top: -20px;
    left: auto;
    height: 100px;
    margin-left: 0px;
    padding-left: 5%;
  }
  /* line 166, main.sass */
  .navbar-default .navbar-brand img {
    height: 100%;
    width: auto;
    padding-left: 50px;
  }

  /* line 171, main.sass */
  .nav {
    width: 60%;
  }
  /* line 173, main.sass */
  .nav li {
    width: 25%;
    text-align: center;
  }

  /* line 176, main.sass */
  .main {
    background-size: 400px auto, 100% 100%;
    background-position: bottom -80px left -35px, center center;
    min-height: 50vh;
  }

  /* line 180, main.sass */
  .mainText {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10%;
  }
  /* line 184, main.sass */
  .mainText p {
    font-size: 1.3em;
  }
  /* line 186, main.sass */
  .mainText h1 {
    font-size: 3em;
    padding-top: 20px;
  }

  /* line 190, main.sass */
  #sec1 .textSec, #sec2 .textSec {
    margin-left: 10%;
    margin-right: 10%;
  }
  /* line 193, main.sass */
  #sec1 .imgSec, #sec2 .imgSec {
    margin-left: 25%;
    margin-right: 25%;
  }

  /* line 197, main.sass */
  .spaced {
    padding-top: 30%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 201, main.sass */
  .navbar-default {
    margin-right: 70px;
  }
  /* line 203, main.sass */
  .navbar-default .navbar-nav > li > a {
    font-weight: bold;
    color: white;
    font-size: 1.5em;
  }
  /* line 207, main.sass */
  .navbar-default .navbar-brand {
    margin-top: -20px;
    left: auto;
    height: 100px;
    margin-left: 0px;
    padding-left: 5%;
  }
  /* line 213, main.sass */
  .navbar-default .navbar-brand img {
    height: 175%;
    width: auto;
    padding-left: 50px;
  }

  /* line 217, main.sass */
  .mainText {
    margin-top: 15%;
    margin-right: 20%;
    margin-left: 20%;
  }
  /* line 221, main.sass */
  .mainText p {
    font-size: 2em;
  }
  /* line 223, main.sass */
  .mainText h1 {
    font-size: 3.5em;
    padding-top: 50px;
  }

  /* line 226, main.sass */
  .main {
    background-size: 700px auto, 100% 100%;
    background-position: bottom -100px left -35px, center center;
    min-height: 100vh;
  }

  /* line 232, main.sass */
  #sec1 .textSec, #sec2 .textSec {
    margin-left: 20%;
    margin-right: 20%;
  }
  /* line 235, main.sass */
  #sec1 .textSec h2, #sec2 .textSec h2 {
    font-size: 3em;
  }
  /* line 237, main.sass */
  #sec1 .textSec p, #sec2 .textSec p {
    font-size: 1.5em;
    margin-top: 50px;
  }
  /* line 240, main.sass */
  #sec1 .imgSec, #sec2 .imgSec {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
  }
  /* line 244, main.sass */
  #sec1 .imgSec #ribbon, #sec2 .imgSec #ribbon {
    transform: translate(0px, -80px);
    transition: transform 0.5s ease-in;
  }

  /* line 247, main.sass */
  .spaced {
    padding-top: 10%;
  }
}
